body {
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}


/* header */

header {
    width: 100%;
    height: 100vh;
    min-height: 40em;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

header>p {
    display: block;
    font-size: 1.5em;
    margin: 1em 0 2em 0;
    line-height: 1.5em;
    text-align: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
}

hr {
    width: 22rem;
    height: .5px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 2rem;
}


/* burger menu */

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    border: none;
    outline: none;
}

.navbar-toggler div {
    width: 30px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.952);
    margin: 5px;
}


/* navbar */

.navbar {
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 0.9rem;
    text-align: center;
    background: rgba(0, 0, 0, .8)!important;
}


/* logo image size */

.navbar-brand img {
    height: 2rem;
}

.navbar-nav li {
    padding: right 0.7em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: crimson;
}

@media screen and (max-width:767px) {
    .navbar-nav {
        align-items: center;
        height: 100vh;
        width: 100%;
        top: 8vh;
    }
    .nav-item {
        opacity: 0;
    }
    .nav-link {
        padding: 4rem;
    }
    @keyframes navItemFade {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    @keyframes linkTextTrans {
        from {
            font-size: .9rem;
        }
        to {
            font-size: 2rem;
        }
    }
}


/*burger animation */

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.navbar-toggler {
    transition: all 0.3s ease;
}


/*link text animation */

.header-bar {
    background: #444649;
    height: 4px;
    margin: 25px 0 30px 0;
    width: 70px;
}

.header {
    color: #444649;
    font-size: 25pt;
    position: relative;
    padding-top: 4rem;
}

.row-content {
    margin: 0;
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.carousel {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.carousel-caption {
    bottom: 17rem;
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a {
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}


/* carousel slider 





.carousel-caption {
    bottom: 20%;
    position: absolute!important;
    transform: translateY(-40%);
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.carousel-caption h5 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption a {
    text-transform: uppercase;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 1rem;
}

*/


/* animation css */

#left {
    animation: arm 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes arm {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-8deg);
    }
}

#leaf_2,
#leaf_1 {
    animation: leaf 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes leaf {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-4deg);
    }
}


/* about section */